In [1]:
import pandas as pd
import numpy as np

In [2]:
sparse_df = pd.read_csv('../data/covid/sparse_county_covid.csv').drop(columns=['Unnamed: 0'])
sparse_df.head()

,date,county,state,total_cases,new_cases,future_delta7,future_delta14
0,2020-03-07,fairfax,virginia,1,1,9.0,21.0
1,2020-03-08,fairfax,virginia,2,1,8.0,29.0
2,2020-03-09,fairfax,virginia,4,2,6.0,39.0
3,2020-03-10,fairfax,virginia,4,0,8.0,42.0
4,2020-03-11,fairfax,virginia,4,0,10.0,72.0

## new_cases data

In [3]:
sparse_df.describe()

         total_cases     new_cases  future_delta7  future_delta14
count    2484.000000   2484.000000    2421.000000     2358.000000
mean    21799.116345    222.941224    1550.011979     3074.367684
std     32134.469596    442.387108    2159.585946     4100.141668
min         1.000000    -95.000000       0.000000        0.000000
25%      3026.250000     41.000000     372.000000      763.750000
50%     12281.500000    111.000000     881.000000     1771.000000
75%     24740.000000    217.250000    1494.000000     2996.250000
max    196658.000000  14129.000000   20378.000000    26434.000000

In [4]:
dense_df = pd.read_csv('data/covid/dense_county_covid.csv').drop(columns='Unnamed: 0')
dense_df.head()

,date,county,state,total_cases,new_cases,future_delta7,future_delta14
0,2020-03-11,baltimore,maryland,1,1,6.0,50.0
1,2020-03-12,baltimore,maryland,1,0,12.0,80.0
2,2020-03-13,baltimore,maryland,2,1,11.0,101.0
3,2020-03-14,baltimore,maryland,3,1,16.0,138.0
4,2020-03-15,baltimore,maryland,3,0,25.0,159.0

In [5]:
dense_df.describe()

         total_cases    new_cases  future_delta7  future_delta14
count    1933.000000  1933.000000    1884.000000     1835.000000
mean    27991.824108   258.456803    1792.338641     3549.147684
std     46081.745315   621.619469    4104.997676     8010.570199
min         1.000000  -168.000000    -274.000000     -174.000000
25%      2293.000000    14.000000     119.000000      257.000000
50%     15824.000000    55.000000     415.000000      898.000000
75%     29670.000000   223.000000    1598.000000     3246.000000
max    325813.000000  6697.000000   32579.000000    63307.000000